Options +FollowSymlinks
RewriteEngine on

#Rewrites
RewriteRule ^instagram/?$ /hiptest/instagram_index.php [L]
RewriteRule ^instagram/add/?$ /hiptest/instagram_add.php [L]
RewriteRule ^order/?$ /hiptest/order.php [L]
RewriteRule ^order/save/?$ /hiptest/order.php?save=1 [L]
RewriteRule ^complete/?$ /hiptest/order.php?complete=1 [L]
RewriteRule ^confirmation/?$ /hiptest/confirmation.php [L]